In [1]:
import pandas as pd 
sal = pd.read_csv('D:/We/insurance-data.csv')
sal

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

the precentage of female smoker

In [2]:
(sal[(sal['smoker'] == 'yes') & (sal['sex'] == 'female')]['sex'].count()/662)*100

17.371601208459214

which city has max insurance rate

In [3]:
sal[sal['charges']==sal['charges'].max()]['region']

543    southeast
Name: region, dtype: object

which gender has the max insurance rage

In [4]:
sal[sal['charges']==sal['charges'].max()]['sex']

543    female
Name: sex, dtype: object

average percentage of female smoker age

In [6]:
resultSmokers=0
resultAll=0
for x in sal[(sal['smoker'] == 'yes') & (sal['sex'] == 'female')]['age'] : 
    resultSmokers=x+resultSmokers
for y in sal[(sal['sex'] == 'female')]['age'] : 
    resultAll=x+resultAll
print((resultSmokers/resultAll)*100)

10.994997771284236

percentage of males who has children inssurance

In [11]:
(sal[(sal['children']!=0 )&(sal['sex']=='male') ]['sex'].count()/sal[sal['sex']=='male']['sex'].count())*100

57.84023668639053

the max number of children for male gender

In [16]:
sal[(sal['sex']=='male') ]['children'].max()

5